h1{
    color: rgb(0, 0, 0);
    font-size: 48px;
    text-align: center;
    
}
img{
    width: 10%;
    position: relative;
    margin-top: -70px;
}
p{

    font-size: 20px;
}
body{
    background-color: aqua;
}